# Docker context ignore list
.azure
.github
.idea
.vagrant
build
# autotest directories
test.*
terrain
logs
# mavproxy stuff
mav.*

Dockerfile*

# include the setup script and completion
!Tools/environment_install/install-prereqs-ubuntu.sh
!Tools/environment_install/install-prereqs-arch.sh
!Tools/completion
autotest_result_*_junit.xml
